{% extends 'base.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="../../public/css/schedules.css">
    <link rel="stylesheet" href="../../public/css/jquery-ui.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="../../public/js/jquery-1.12.4.js"></script>
    <script src="../../public/js/jquery-ui.js"></script>
    <script src="../../public/js/jquery.maskedinput.min.js"></script>
    <script>
        /* Локализация datepicker */
        $.datepicker.regional['ru'] = {
            closeText: 'Закрыть',
            prevText: 'Предыдущий',
            nextText: 'Следующий',
            currentText: 'Сегодня',
            monthNames: ['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'],
            monthNamesShort: ['Янв','Фев','Мар','Апр','Май','Июн','Июл','Авг','Сен','Окт','Ноя','Дек'],
            dayNames: ['воскресенье','понедельник','вторник','среда','четверг','пятница','суббота'],
            dayNamesShort: ['вск','пнд','втр','срд','чтв','птн','сбт'],
            dayNamesMin: ['Вс','Пн','Вт','Ср','Чт','Пт','Сб'],
            weekHeader: 'Не',
            dateFormat: 'dd.mm.yy',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''
        };
        $.datepicker.setDefaults($.datepicker.regional['ru']);
    </script>
    <script src="../../public/js/schedules.js"></script>
{% endblock %}

{% block content %}
    <div class="schedules">
        <div class="row">
            <div class="calendar col-12">
                <form action="/schedules/select_date" name="schedule_calendar" method="post">
                    <div id="datepicker"></div>
                    <input type="hidden" id="datepicker_value" name="datepicker_value" value="{{ selected_date }}">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="day-schedule col-12">
                <div class="row">
                    <div class="title col-12">Расписание на день</div>
                </div>

                {% if events|length > 0 %}
                    {% for event in events %}
                        <div class="row">
                            <div class="day-schedule-item col-12">
                                <div class="time col-4">{{ event['subject_time'] }}</div>
                                <div class="pupil col-8">{{ event['pupil'] }} ({{ event['parent_name'] }})</div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

                <div class="row">
                    <div class="day-schedule-item col-12">
                        <div class="time col-4">
                            <input type="text" name="set_time" class="col-6" value="">
                        </div>
                        <div class="pupil col-8">
                            <select name="set_contact" class="col-10">
                                {% for contact_item in contact_list %}
                                    <option value="{{ contact_item['contact_id'] }}">{{ contact_item['pupil'] }} ({{ contact_item['parent_name'] }})</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="buttons col-12">
                        <a href="#" class="save-day-schedule-item">Сохранить</a>
                        <form action="/schedules/lesson/create" name="lesson_create" method="post">
                            <input type="hidden" name="subject_date" value="{{ selected_date }}">
                            <input type="hidden" name="contact_id" value="">
                            <input type="hidden" name="subject_time" value="">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}